<% content_for :page_title do %>
   <%= Spree.t("scrapers") %> <i class="icon-arrow-right"></i> <%= Spree.t("new_scraper") %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_scrapers_list), spree.admin_scrapers_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render "spree/shared/error_messages", :target => @scraper %>

<%= form_for [:admin, @scraper] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/new_resource_links' %>
<% end %>
